*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

h1,h2{
color: black;
text-align: center;
}
.dfnav{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: #fff;
}
.logo{
    width: 300px;
    height: 200px;
    
}
.img{
    width: 100px;
    margin: 10px;
    padding: 20px;
    border: 1px;
    align-items: center;
}

nav{
    padding: 1rem;
}
.menu{
    list-style-type: none;
    margin: 10px;
    background-color: #ffd500;
    text-align: center;
}
.menu li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: white;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu li a:hover{
    color: white;
    background-color: #ffd500 ;
}

footer{

    background-color: #ffd500;
    margin: 10px;
    padding: 20px;
    border: 1px;
    color:black;
    text-align: center;



}

.redes a i{

    font-size: 25px;
    text-align: center;
    padding: 5px 10px;
    color: #fff;

}

.redes a i:hover{

    transform: scale(1.5);
    transition: all 1s ease;

}
.tablaDeTalles{

    background-color:white;
    text-align: center;
    margin: 10px;
    padding: 20px;

}

table{

    margin: 1.5rem;
    padding: 1rem;
    width: 30%;
    border: 1px solid black;
}

th, td {

        width: 10%;
        text-align: left;
        border: 1px solid black;
        vertical-align: top;
        border-collapse: collapse;
        padding: 0.3em;
        caption-side: bottom;
}
fieldset{
    margin: 10px;
    padding: 20px;
    border: 1px;
    background-color: white;
}
.gridContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
 grid-template-rows: min-content min-content min-content min-content;
 grid-template-areas:
 "foto1 foto2 foto3"
 "foto1 foto2 foto3"
 "foto1 foto2 foto3";
 }

.gridContainer .gridFoto1{
    grid-area: foto1;
    width: 100px;
   
}
.gridContainer .gridFoto2{
    grid-area: foto2;
    width: 100px;
 
}

.gridContainer .gridFoto3{
    grid-area: foto3;
    width: 100px;
   

}
@media (max-width: 768px) {
    body {
           background-color: white;
           color:black;
    }
}

@media (min-width: 600px){
    body{
           background-color: white;
           color:black;
    }
   
}
@media (max-width: 992px){
    body{
           background-color: white;
           color: black;
    }
}
.navColor{
    background-color: #fdd500;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin: 10px;
    padding: 20px;
}
.navColor:hover{
    font-weight: bold;
}
.colorBoton{
    background-color: #ffffff;
}